body{
    background-color: dimgrey;
}
h1{
    text-align: center;
    color:bisque
}
.Subheading{
    text-align: center;
}
.Subheading{
 
 color:brown

}
h2{
    text-decoration: underline;
    text-align: center;
}

img {
    float: right;
    width: 400px;
}
img{
border: 5px solid black;
}
.redtitle {
    color: red;
}
.bluetitle {
    color: blue;
}

